{% extends 'nodos/base.html' %}
{% load  static %}

{% block menu %} {{ numero }}{% endblock %}
{% block content %}
    <style>
body {
  font-family: Verdana,sans-serif;
  font-size: 1.5em;
}

div#header, div#footer {
  padding: 10px;
  color: white;
  background-color: black;
}

div#content {
  margin: 5px;
  padding: 8px;
  background-color: lightgrey;
}

div.article {
  margin: 5px;
  padding: 10px;
  background-color: white;
}

div#menu ul {
  padding: 0;
}

div#menu ul li {
  display: inline;
  margin: 5px;
}

    </style>
<div id="content">
  <h2>Nodo {{ numero }}</h2>
  <div class="article">
    <h2>Nodo GNSS</h2>
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <tr>
                <th>Nombre </th>
                <th>Estado </th>
            </tr>
            <tr>
                <td>Estado</td>
                <td></td>
            </tr>
            <tr>
                <td>Numero Satelites</td>
                <td></td>
            </tr>
            <tr>
                <td>Dilucion Horizontal  <br> de la Posicion</td>
                <td></td>
            </tr>
            <tr>
                <td>latitud</td>
                <td></td>
            </tr>
            <tr>
                <td>Longitud</td>
                <td></td>
            </tr>
            <tr>
                <td>Altitud</td>
                <td></td>
            </tr>
            <tr>
                <td>Fix Quality</td>
                <td></td>
            </tr>
        </table>
    </div>
  </div>
  <div class="article">
    <h2>Estado LoRa</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <tr>
                <th>Nombre </th>
                <th>Estado </th>
            </tr>
            <tr>
                <td>Estado</td>
                <td></td>
            </tr>
            <tr>
                <td>Numero de Nodo </td>
                <td></td>
            </tr>
            <tr>
                <td>Ancho de Banda</td>
                <td></td>
            </tr>
            <tr>
                <td>Canal</td>
                <td></td>
            </tr>
            <tr>
                <td>Correinte</td>
                <td></td>
            </tr>
            <tr>
                <td>Paquetes Enviados</td>
                <td></td>
            </tr>
            <tr>
                <td>Paquetes Recividos</td>
                <td></td>
            </tr>
            <tr>
                <td>Tiempo Envio</td>
                <td></td>
            </tr>
            <tr>
                <td>RSSI(Fuerza Señal)</td>
                <td></td>
            </tr>
            <tr>
                <td>Payload (Carga Util</td>
                <td></td>
            </tr>

        </table>
    </div>

  </div>
</div>

<a class="btn btn-primary btn-block" href="{% url 'nodos:download'  filename=file %}" >Descargar</a>
<a class="btn btn-success btn-block" href="{% url 'nodos:index' %}">Regresar</a>

{% endblock %}
