{% extends 'nodos/base.html' %}  {% block title %} Lista Archivos{% endblock %} {% block menu %} {% endblock %} {% block content %}
<div class="header-body">
    <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped">
            <tr>
                <th>Estado </th>
                <th>Nodos </th>
            </tr>
            {% for file in data %}
            <tr>
                 {% if file.EstadoLora %}
                <td><i class="fas fa-check"> </i></td>
                {% else %}
                <td><i class="fas fa-times"></i></td>
                {% endif %}
                <td><a class="d-block small" href="{% url 'nodos:detalles'  filename=file.NumeroNodo %}" >Nodo {{file.NumeroNodo}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="text-center">
<a type="submit" class="btn btn-primary btn-block"  href="{% url 'nodos:actualizar' %}">Actualizar</a>
{% for file in data2 %}
    {% if file.maestro %}
    <a type="submit" class="btn btn-secondary btn-block"  href="{% url 'nodos:maestro' %}">Esclavo </a>
    {% else %}
    <a type="submit" class="btn btn-secondary btn-block" >Maestro </a>
    {% endif %}
{% endfor %}

</div>
{% endblock %}
